{% load static %}
<style>
    .item{
            font-family: 'Archivo Narrow', sans-serif;

            width:360px;
            height:150px;
            margin:30px;
            background:#BFB9B6;

            display:flex;
            font-size:20px;
            display:flex;
            justify-content : center;
            align-items: center;

        }
</style>
<script>
   alert("입력 할 수 없습니다!");
   setTimeout(function(){
            location.href="http://127.0.0.1:8000/doctors";
    },0);
</script>

<section>

</section>